<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Будь как Джобс</title>
</head>

<body>
<h1>"Работать надо не 12 часов, а головой."</h1>
<h2>А сколько высказываний Стива Джобса вспомнишь ты?</h2>
<p>Будь аккуратнее, ведь, счётчик обнулится как только перезагрузишь страницу!</p>

<form action="" onsubmit="sendMessage(event)">
    <input type="text" class="text" id="messageText" autocomplete="off"/>
    <button>Отправить</button>
</form>

<ul id='messages'>
</ul>

<script>
    let ws = new WebSocket("ws://localhost:8000/ws");

    ws.onmessage = function(event) {
        let messages = document.getElementById('messages')
        let message = document.createElement('li');
        console.log(event.data, typeof (event.data))
        let receiveJson = JSON.parse(event.data);
        console.log(receiveJson, typeof (receiveJson));
        let content = document.createTextNode(`${receiveJson.number} ${receiveJson.message}`);
        message.appendChild(content);
        messages.appendChild(message)
    };

    function sendMessage(event) {
        let input = document.getElementById("messageText");
        let message = {message: input.value};
        let messageJson = JSON.stringify(message);

        ws.send(messageJson);
        input.value = '';
        event.preventDefault()
    }
</script>
</body>
</html>
