<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>Будь как Джобс</title>
</head>

<body>
<h1>"Работать надо не 12 часов, а головой."</h1>
<h2>А сколько высказываний Стива Джобса вспомнишь ты?</h2>
<p>Будь аккуратнее, ведь, счётчик обнулится как только перезагрузишь страницу!</p>

<form action="" onsubmit="sendMessage(event)">
    <input type="text" class="text" id="messageText" autocomplete="off"/>
    <button>Отправить</button>
</form>

<ul id='messages'>
</ul>

<script src="{{ url_for('static', path='/process.js') }}"></script>
</body>
</html>
